.intro-black-friday
	position: relative
	// padding-top: 102px
	height: 552px
	background: black

	+sm
		height: 600px

	.video-container
		position: relative
		height: 100%
		overflow: hidden

		+sm
			overflow-x: hidden
			overflow-y: auto

		.bg-img
			position: absolute
			background: url(/img/bf-2.jpeg) no-repeat #000
			background-size: contain
			width: 100%
			height: 100%
			z-index: 0
			display: none
			background-position: 50% 5%

			+sm
				display: block

			+xs
				background-position: 50% 35%

	.container
		height: 100%
		width: 100%

	&__gradient
		background: linear-gradient(180deg, rgba(16, 16, 20, 0) 0%, #101014 90.41%)
		width: 100%
		position: absolute
		bottom: 0
		height: 250px
		z-index: 9

		+sm
			display: none

	h1
		+UniversLTCYR
		color: #3548FE
		font-size: 60px
		letter-spacing: -0.03em
		font-family: 'Univers LT CYR'
		text-transform: uppercase
		line-height: 1
		font-weight: 400

		+sm
			font-size: 36px

	&__top_text
		text-align: right
		display: block

		span
			position: relative
			top: -5px
			left: -12px

	&__bottom_text
		color: white
		display: block
		text-align: right
		position: relative
		top: -11px
		right: 14px

		span
			text-align: left
			display: block
			position: relative
			left: 15px
			top: -5px

			+sm
				text-align: right

	&__deadline
		color: white
		font-size: 35px
		font-family: 'Univers LT CYR'
		text-transform: uppercase
		letter-spacing: -0.03em
		line-height: 1
		position: absolute
		right: -3px
		z-index: 10
		bottom: 60px

		+sm
			display: none

	&__content
		z-index: 3

	video
		width: 100%
		height: 100%
		position: absolute
		top: 28px
		left: -21px
		width: 100%
		height: 100%
		min-width: 100%
		min-height: 100%
		z-index: 0

		+sm
			display: none

	&__action
		z-index: 10
		position: absolute
		bottom: 99px
		display: flex
		flex-direction: column

		+sm
			bottom: 0
			top: 100px
			width: 100%
			justify-content: space-between
			margin-bottom: 10px

	&__container
		position: relative
		display: flex
		flex-direction: column
		align-items: flex-start
		margin-top: 4px
		margin-bottom: 28px

		+sm
			flex-direction: column
			align-items: center
			margin-bottom: 0

	&__price
		font-size: 16px

	&__button
		font-size: 14px
		padding: 14px 16px
		z-index: 3
		min-width: 205px
		min-height: 48px

		+hover
			color: black

		+xs
			min-width: 100%
