---
title: Video page - Signed
---

{% import "data/data.html" as data %}

{% import "partials/_mixins.html" as mixins %}

{% extends "layouts/_layout.html" %}

{% block content %}

  {% set login = 'Костянтин Костянтинопільський' %}
  {% include "partials/_header.html" %}

   <div class="container container_padding-small">
      <main class="main main_video" id="content">
        {% set disableFavorite = true %}
        {% include "partials/_pagination-top.html" %}

        {% set userIsSigned = true %}
        {% include "partials/_video-content-new.html" %}

        {% set cards = data.middleCards %}
        {% include "partials/_other-videos.html" %}
      </main>
   </div>
{% endblock %}
