<!-- begin cancel-subscription-popup -->

<div
  class="cancel-subscription-popup js-popup"
  data-name="cancel-subscription-request"
>
  <div class="cancel-subscription-popup__inner">
    <button class="cancel-subscription-popup__close js-popup-close">
      {{ mixins.icon('close-popup') }}
    </button>

    <p class="cancel-subscription-popup__text">Скасувати автопродовження?</p>

    <p class="cancel-subscription-popup__desc">
      Контент залишиться з тобою до 5 березня, 2022, але підписка не
      продовжуватиметься автоматично. <br />
      <br />
      Візьми перерву, якщо потрібно. І повертайся знову :)
    </p>

    <div class="cancel-subscription-popup__continue js-open-popup-button">
      <a class="" href="#" tabindex="1">Залишити підписку</a>
    </div>

    <button class="cancel-subscription-popup__leave">
      Зупинити автопродовження
    </button>
  </div>
</div>

<!-- end cancel-subscription-request -->
