<div class="course-match-second-second scroll-section" id="for-whom">
  <h3 class="course-title">Кому підходить курс?</h3>
  <div class="course-match-second__program">
    <div class="text text_large course-match-second__program__desc">
      <img src="./img/course-1.svg" />
    </div>
    <div class="course-match-second__program__list">
      <div>
        <div class="course-match-second__program-module">
          <div class="course-match-second__program-module__items">
            <div class="course-match-second__program-module__item">
              <h4
                class="course-match-second__title-reg course-match-second__title-reg_big course-program__program-module__item-title"
              >
                Ще не дизайнерам
              </h4>
              <div
                class="course-match-second__text course-match-second__text_reg program-module__item-desc"
              >
                <p>
                  Знакомство с Figma. Базовый набор инструментов и основные
                  принципы работы с инструментом.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="course-match-second__program-module">
          <div class="course-match-second__program-module__items">
            <div class="course-match-second__program-module__item">
              <h4
                class="course-match-second__title-reg course-match-second__title-reg_big course-match-second__program-module__item-title"
              >
                Дизайнерам-початківцям
              </h4>
              <div
                class="course-match-second__text course-match-second__text_reg program-module__item-desc"
              >
                <p>
                  Базовые понятия про стандартные сетки и принципы работы с
                  ними.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course-match-second__bottom">
        <button
          class="course-match-second__consult-btn js-open-popup-button"
          data-popup="consult"
        >
          Проконсультуйте мене
        </button>
      </div>
    </div>

    <div class="course-match-second__program__description">
      <div>
        <img
          src="https://d3n32ilufxuvd1.cloudfront.net/52610615b263af5f64000ad9/5fd7dd8e02a2e300cec9c278/upload-ecde4a38-a0a8-400c-a5da-07b26bbe1610.png"
          alt=""
        />
        <span>
          На проробку домашніх завдань ви маєте виділити 10–12 годин на тиждень.
          Багато? Багато. А користі ще більше.</span
        >
      </div>
    </div>
  </div>
</div>
