<!-- begin course-mentor -->

<div class="course-mentor scroll-section" id="curator">
  <div class="course-mentor_heading">
    <h3 class="course-title">Наставник</h3>
  </div>

  <div class="course-mentor">
    <img
      src="https://d2kq0urxkarztv.cloudfront.net/52610615b263af5f64000ad9/2521290/upload-56d6d010-cbd5-4e2b-bda2-4baaea640818.png?e=webp&nll=true&cX=0&cY=0&cW=900&cH=414"
      alt=""
    />

    <div class="course-mentor__section">
      <span class="course-mentor__name">Андрей Шевченко</span>
      <div class="course-mentor__desc">
        <p>
          Это практичный онлайн-курс об основах веб-дизайна для новичков,
          которые еще не имеют опыта и хотят попробовать себя в новой профессии.
          Это практичный онлайн-курс об основах веб-дизайна для
        </p>
      </div>
      <img
        src="https://d2kq0urxkarztv.cloudfront.net/52610615b263af5f64000ad9/2439930/upload-d8b417e7-8ccb-46be-aa40-359b38714cc2.png?w=176&amp;e=webp&amp;nll=true"
        alt=""
      />
    </div>
  </div>
</div>

<!-- end course-mentor -->
