<!-- begin intro -->
<div class="container container_padding-max container_padding-small">
<section class="course-similar">
  <h3 class="course-title">
    Інші курси для вас
  </h3>

  <div class="course-similar__section">
    <div class="course-similar__others">
      <div class="course-similar__item">
        <span class="course-similar__title">UX Pro</span>
        <div class="course-similar__bottom">
          <span class="course-similar__desc">3 місяця, старт — 17/01</span>
          <span class="course-similar__price">5 000 грн / міс</span>
        </div>
      </div>

      <div class="course-similar__item">
        <span class="course-similar__title">Product Interface Design</span>
        <div class="course-similar__bottom">
          <span class="course-similar__desc">3 місяця, старт — 17/01</span>
          <span class="course-similar__price">5 000 грн / міс</span>
        </div>
      </div>

      <div class="course-similar__item">
        <span class="course-similar__title">UX Data Mining & Analitycs</span>
        <div class="course-similar__bottom">
          <span class="course-similar__desc">3 місяця, старт — 17/01</span>
          <span class="course-similar__price">5 000 грн / міс</span>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- end intro -->
