<div class="course-partners scroll-section" id="partners">
  <h3 class="course-title">Партнери курсу</h3>
  <div class="course-partners__program">
    <div class="course-partners__program__desc">
      <p>
        Это практичный онлайн-курс об основах веб-дизайна для новичков, которые
        еще не имеют опыта япрофессии.
      </p>
    </div>
    <div class="course-partners__program__list">
      <div class="course-partners__program-module">
        <div class="course-partners__program-module__item">
          <img src="./img/companies/grammarly.svg" alt="" />
          <div
            class="course-partners__text course-partners__text_reg program-module__item-desc"
          >
            <p>
              Grammarly виділяє стипендію на оплату 20% вартості навчання 3
              найкращим студентам курсу
            </p>
          </div>
        </div>
      </div>
      <div class="course-partners__program-module">
        <div class="course-partners__program-module__item">
          <img src="./img/companies/macpaw.png" alt="" />
          <div
            class="course-partners__text course-partners__text_reg program-module__item-desc"
          >
            <p>Гарантує працевлаштування одного студента з курсу</p>
          </div>
        </div>
      </div>
      <div class="course-partners__program-module">
        <div class="course-partners__program-module__item">
          <img src="./img/companies/datacamp.png" alt="" />
          <div
            class="course-partners__text course-partners__text_reg program-module__item-desc"
          >
            <p>
              Дає доступ до використання свого програмного забезпечення
              студентам курсу
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
