<div class="course-program scroll-section" id="program">
  <h3 class="course-title">Програма</h3>

  <div class="course-program__program">
    <div class="text text_large course-program__program__desc">
      <img src="./img/course-3.svg" alt="" />
    </div>
    <div class="course-program__program__list">
      <div class="course-program__program-module">
        <div class="course-program__program-module__items">
          <div class="course-program__program-module__item">
            <h4
              class="course-program__title-reg course-program__title-reg_big course-program__program-module__item-title"
            >
              Інструмент
            </h4>
            <div
              class="course-program__text course-program__text_reg program-module__item-desc"
            >
              <p>
                Знакомство с Figma. Базовый набор инструментов и основные
                принципы работы с инструментом.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="course-program__program-module">
        <div class="course-program__program-module__items">
          <div class="course-program__program-module__item">
            <h4
              class="course-program__title-reg course-program__title-reg_big course-program__program-module__item-title"
            >
              Сетки
            </h4>
            <div
              class="course-program__text course-program__text_reg program-module__item-desc"
            >
              <p>
                Базовые понятия про стандартные сетки и принципы работы с ними.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="course-program__program-module">
        <div class="course-program__program-module__items">
          <div class="course-program__program-module__item">
            <h4
              class="course-program__title-reg course-program__title-reg_big course-program__program-module__item-title"
            >
              Типографика и работа со шрифтами
            </h4>
            <div
              class="course-program__text course-program__text_reg program-module__item-desc"
            >
            <p>
              Будем учиться правилам хорошего набора текста и инструментам для их реализации. Познакомимся с кнопками и полями ввода, узнаем секретную формулу хорошей кнопки :)
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="course-program__program-module">
        <div class="course-program__program-module__items">
          <div class="course-program__program-module__item">
            <h4
              class="course-program__title-reg course-program__title-reg_big course-program__program-module__item-title"
            >
                Практическое применение
            </h4>
            <div
              class="course-program__text course-program__text_reg program-module__item-desc"
            >
              <ul>
                <li>
                  Да, он тоже нужен. Как понять, что творится у нас в базах и
                  где что лежит;
                </li>
                <li>Переход от spreadsheet-ов к SQL: SELECT * FROM;</li>
                <li>Объединяем таблицы: JOIN, LEFT JOIN, INNER JOIN;</li>
                <li>
                  Создаем новые таблицы и колонки: простые операции подсчета
                  метрик;
                </li>
                <li>
                  Считаем CTR, K-factor, вытягиваем данные для корреляционного
                  анализа.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
