<!-- begin intro -->

<section class="course-intro">
  <div
    class="course-section"
  >
    <div class="course-intro__wrapper">
      <div class="course-intro__info">
        <a
          class="pagination-top__back-button course-intro__back-button back-button"
          href="main-page-unlogged.html"
        >
          <img
            src="https://d3n32ilufxuvd1.cloudfront.net/52610615b263af5f64000ad9/600f278af9233500c0e95751/upload-e4fc0451-305c-4430-b8fc-24570dfe4aa1.png"
          />
        </a>
        <span class="course-intro__breadcrumb">
          <a
            rel="noopener noreferrer"
            target="_self"
            href="http://prjctr.com.ua"
            >Graphics &amp; Media School</a
          >
        </span>

        <span class="course-intro__title">C4D Typography Course</span>

        <p class="course-intro__desc">
          Это практичный онлайн-курс об основах веб-дизайна для новичков,
          которые еще не имеют опыта и хотят попробовать себя в новой профессии.
          Это практичный онлайн-курс об основах веб-дизайна для новичков,
          которые еще не имеют опыта и хотят попробовать себя в новой профессии.
        </p>

      </div>
      <div class="course-intro__support">
        <span>ЗА ПІДТРИМКИ</span>

        <img
          srcset="
            https://d2kq0urxkarztv.cloudfront.net/52610615b263af5f64000ad9/2439930/upload-287391a3-3b48-4d85-ab89-d60ceb30b2ad.png?w=304&amp;e=webp&amp;nll=true 2x,
            https://d2kq0urxkarztv.cloudfront.net/52610615b263af5f64000ad9/2439930/upload-287391a3-3b48-4d85-ab89-d60ceb30b2ad.png?w=456&amp;e=webp&amp;nll=true 3x
          "
          src="https://d2kq0urxkarztv.cloudfront.net/52610615b263af5f64000ad9/2439930/upload-287391a3-3b48-4d85-ab89-d60ceb30b2ad.png?w=304&amp;e=webp&amp;nll=true"
        />
      </div>
    </div>
    <button class="course-intro__register-btn">Реєстрація</button>
  </div>
</section>
<script>
  $(document).ready(function () {
    $(".course-intro__register-btn").click(function () {
      $("html, body").animate(
        {
          scrollTop: $(".course-registration").offset().top - 100,
        },
        2000
      );
    });
  });
</script>
<!-- end intro -->
