<!-- course-case-gallery-popup -->
<div class="course-case-gallery-popup js-popup" data-name="case-gallery">
  <div class="login-popup course-case-gallery-popup__inner">
    <button class="course-case-gallery-popup__close js-popup-close">
      {{ mixins.icon('close-popup') }}
    </button>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <div class="course-case-gallery-popup__main">
      <div class="fotorama"  
      data-maxwidth="100%"
      data-allowfullscreen="true"
      data-nav="thumbs">
        <img src="https://s.fotorama.io/1.jpg" />
        <img src="https://s.fotorama.io/2.jpg" />
        <img src="https://s.fotorama.io/3.jpg" />
        <img src="https://s.fotorama.io/4.jpg" />
        <img src="https://s.fotorama.io/5.jpg" />
        <img src="https://s.fotorama.io/1.jpg" />
        <img src="https://s.fotorama.io/2.jpg" />
        <img src="https://s.fotorama.io/3.jpg" />
        <img src="https://s.fotorama.io/4.jpg" />
        <img src="https://s.fotorama.io/5.jpg" />
      </div>
    </div>
  </div>
</div>
