<div class="course-match scroll-section" id="for-whom">
  <h3 class="course-title">Кому підходить курс?</h3>
  <div class="course-match__program">
    <div class="text text_large course-match__program__desc">
      <img src="./img/course-1.svg" />
    </div>
    <div class="course-match__program__list">
      <div>
        <div class="course-match__program-module">
          <div class="course-match__program-module__items">
            <div class="course-match__program-module__item">
              <h4
                class="course-match__title-reg course-match__title-reg_big course-program__program-module__item-title"
              >
                Ще не дизайнерам
              </h4>
              <div
                class="course-match__text course-match__text_reg program-module__item-desc"
              >
                <p>
                  Знакомство с Figma. Базовый набор инструментов и основные
                  принципы работы с инструментом.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="course-match__program-module">
          <div class="course-match__program-module__items">
            <div class="course-match__program-module__item">
              <h4
                class="course-match__title-reg course-match__title-reg_big course-match__program-module__item-title"
              >
                Дизайнерам-початківцям
              </h4>
              <div
                class="course-match__text course-match__text_reg program-module__item-desc"
              >
                <p>
                  Базовые понятия про стандартные сетки и принципы работы с
                  ними.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="course-match__bottom">
        <button
          class="course-match__consult-btn js-open-popup-button"
          data-popup="consult"
        >
          Проконсультуйте мене
        </button>
      </div>
    </div>

    <div class="course-match__program__requirements">
      <div class="course-match__program__req-item">
        <h3>Досвід</h3>
        <div class="course-match__program__req-decs">
          <p>3+ років в маркетингу / комунікаціях</p>
        </div>
      </div>

      <div class="course-match__program__req-item">
        <h3>English</h3>
        <div class="course-match__program__req-decs">
          <p>На рівні, який дозволяє читати довгі і писати короткі тексти</p>
        </div>
      </div>

      <div class="course-match__program__req-item">
        <h3>Час</h3>
        <div class="course-match__program__req-decs">
          <p>Ви маєте приділяти домашнім завданням 10-12 годин на тиждень</p>
        </div>
      </div>
    </div>
  </div>
</div>
