<div class="course-questions scroll-section" id="questions">
  <h3 class="course-title"> Питання і відповіді</h3>

  <div class="course-questions__program">
    <div class="text text_large course-questions__program__desc">
      <img
        src="./img/course-2.svg"
        alt=""
      />
    </div>

    <div class="course-questions__program__list">
      <div class="course-questions__js-toogle course-questions__program-module">
        <div class="course-questions__program-module__item">
          <h4
            class="course-questions__title-reg course-questions__title-reg_big course-questions__program-module__item-title">
            Я не умею работать в Figma, мне подойдет этот курс?
          </h4>
          <div
            class="course-questions__text course-questions__text_reg program-module__item-desc">
            <p>
              По понеділкам і четвергам ви отримуватимете доступ до нових
              уроків, а по суботам 12:00–14:00 відбуватимуться живі вебінари з
              куратором чи гостями курсу.
            </p>
          </div>
        </div>
      </div>
      <div class="course-questions__js-toogle  course-questions__program-module">
        <div class="course-questions__program-module__item">
          <h4
            class="course-questions__title-reg course-questions__title-reg_big course-questions__program-module__item-title">
            Будут ли мне доступны видеоуроки по окончанию курса?
          </h4>
          <div
            class="course-questions__text course-questions__text_reg program-module__item-desc">
            <p>
              По понеділкам і четвергам ви отримуватимете доступ до нових
              уроків, а по суботам 12:00–14:00 відбуватимуться живі вебінари з
              куратором чи гостями курсу.
            </p>
          </div>
        </div>
      </div>
      <div class="course-questions__js-toogle course-questions__program-module">
        <div class="course-questions__program-module__item">
          <h4
            class="course-questions__title-reg course-questions__title-reg_big course-questions__program-module__item-title">
            А сертификат будет?
          </h4>
          <div
            class="course-questions__text course-questions__text_reg program-module__item-desc">
            <p>
              По понеділкам і четвергам ви отримуватимете доступ до нових
              уроків, а по суботам 12:00–14:00 відбуватимуться живі вебінари з
              куратором чи гостями курсу.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(".course-questions__js-toogle").click(function () {
    $(this).toggleClass("course-questions__js-toogle-on");
  });
</script>
