<section class="course-registration" id="registration">
  <div class="container container_padding-max container_padding-small">
    <main class="course-registration__main main_video" id="content">
      <h3 class="course-title">Реєстрація</h3>
      <div
        class="course-registration__cols course-registration__cols_2 course-registration__cols_aside"
      >
        <div class="course-registration__cols__col">
          <div class="course-registration__form">
            <form action="">
              <div class="course-registration__form__row">
                <input type="text" placeholder="Ім'я" />
              </div>
              <div class="course-registration__form__row">
                <input type="text" placeholder="Прізвище" />
              </div>
              <div class="course-registration__form__row">
                <input type="email" placeholder="Email" />
              </div>
              <div class="course-registration__form__row">
                <input type="tel" placeholder="Номер телефону" />
              </div>


              <div class="course-registration__form__row_checkbox">
                <div class="course-registration__checkbox-group">
                  <label class="course-registration__checkbox-group__checkbox">
                    <input
                      class="course-registration__checkbox"
                      id="agree"
                      type="checkbox"
                      name="agree"
                      value="1"
                    />
                  </label>
                  <div class="course-registration__checkbox-group__text">
                    Я погоджуюсь з <a target="_blank" href="https://prjctr.online/page/terms-ukr.html">правилами</a>  обробки даних 
                  </div>
                </div>
              </div>
              <div
                class="course-registration__form__row course-registration__form_last"
              >
                <button
                  type="submit"
                  class="course-registration__btn course-registration__btn_big course-registration__btn_fullwidth"
                >
                  Зареєструватись
                </button>
              </div>

            </form>
          </div>
        </div>
        <div class="course-registration__cols__col">
          <div class="course-registration__aside-item">
            <div class="course-registration__consult-section">
              <img src="./img/nazar.png" class="course-registration__nazar" />
              <div class="text text_reg course-registration__aside-item__desc">
                <p>
                  Ще маєте питання? <br />
                  Не соромтесь їх задати.
                </p>
              </div>
            </div>

            <button class="course-registration__consult js-open-popup-button" data-popup="consult">
              Проконсультуйте мене
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</section>
