<div class="course-about scroll-section" id="about">
  <h3 class="course-title">Про курс</h3>

  <p>
    Это практичный онлайн-курс об основах веб-дизайна для новичков, которые еще
    не имеют опыта и хотят попробовать себя в новой профессии. Это практичный
    онлайн-курс об основах веб-дизайна для новичков, которые еще не имеют опыта
    и хотят попробовать себя в новой профессии.
  </p>

  <div class="course-about__section">
    <div class="course-about__info">
      <img src="./img/calendar_icon.png" class="course-about__icon" />
      <span class="course-about__title">2 місяці</span>
      <span class="course-about__desc">
        Курс триває з 1 січня по 27 березня 2020. Нові уроки відкриваються
        щосереди і щоп'ятниці, по суботах о 11:00 — живі вебінари</span>
    </div>

    <div class="course-about__info">
      <img src="./img/make_icon.png" class="course-about__icon" />
      <span class="course-about__title">7 000 грн / міс.</span>
      <span class="course-about__desc">
        При оплаті повної суми, знижка 5%. Також можлива розстрочка від Monobank
      </span>
    </div>

    <div class="course-about__info">
      <img src="./img/head_icon.png" class="course-about__icon" />
      <span class="course-about__title">25 місць</span>
      <span class="course-about__desc">
        каждый студент получает фидбек от куратора группы</span
      >
    </div>
  </div>
</div>
