<div class="course-how-is-learning scroll-section" id="about-training">
  <h3 class="course-title">Як відбувається навчання?</h3>

  <div class="course-how-is-learning__program">
    <div class="text text_large course-how-is-learning__program__desc">
      <img src="./img/course-4.svg" />
    </div>
    <div class="course-how-is-learning__program__list">

      <div class="course-how-is-learning__program-module">
        <div class="course-how-is-learning__program-module__item">
          <h4
            class="course-how-is-learning__title-reg course-how-is-learning__title-reg_big course-how-is-learning__program-module__item-title"
          >
          Уроки і вебінари
          </h4>
          <div
            class="course-how-is-learning__text course-how-is-learning__text_reg program-module__item-desc"
          >
            <p>
                 По понеділкам і четвергам ви отримуватимете доступ до нових
              уроків, а по суботам 12:00–14:00 відбуватимуться живі вебінари з
              куратором чи гостями курсу.
            </p>
          </div>
        </div>
      </div>


      <div class="course-how-is-learning__program-module">
        <div class="course-how-is-learning__program-module__item">
          <h4
            class="course-how-is-learning__title-reg course-how-is-learning__title-reg_big course-how-is-learning__program-module__item-title"
          >
            Багато домашніх завдань
          </h4>
          <div
            class="course-how-is-learning__text course-how-is-learning__text_reg program-module__item-desc"
          >
            <p>
              У Проджекторі дії Practicult (культ практики). Тому ви будете
              робити дуже багато дуже складних домашок. Have fun & Survive.
            </p>
          </div>
        </div>
      </div>

      <div class="course-how-is-learning__program-module">
        <div class="course-how-is-learning__program-module__item">
          <h4
            class="course-how-is-learning__title-reg course-how-is-learning__title-reg_big course-how-is-learning__program-module__item-title"
          >
            Курсовий проект
          </h4>
          <div
            class="course-how-is-learning__text course-how-is-learning__text_reg program-module__item-desc"
          >
            <p>
              Під час курсу ви зробите великий курсовий проект для реального
              замовника. Бо принцип курсу — все як в житті.
            </p>
          </div>
        </div>
      </div>

      <div class="course-how-is-learning__program-module">
        <div class="course-how-is-learning__program-module__item">
          <h4
            class="course-how-is-learning__title-reg course-how-is-learning__title-reg_big course-how-is-learning__program-module__item-title"
          >
            Unlimited фідбек
          </h4>
          <div
            class="course-how-is-learning__text course-how-is-learning__text_reg program-module__item-desc"
          >
            <p>
              В Проджекторі нема лайт та преміум режимів. Єдиний режим —
              преміум. Отримайте від куратора все. Десята ітерація — це
              нормально.
            </p>
          </div>
        </div>
      </div>

      <div class="course-how-is-learning__program-module">
        <div class="course-how-is-learning__program-module__item">
          <h4
            class="course-how-is-learning__title-reg course-how-is-learning__title-reg_big course-how-is-learning__program-module__item-title"
          >
            Сертифікат за справи
          </h4>
          <div
            class="course-how-is-learning__text course-how-is-learning__text_reg program-module__item-desc"
          >
            <p>
              Сертифікат видаємо лише тим, хто своїм потом, часом і силами його
              заслижв.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="course-how-is-learning__program__requirements">
      <h4>ГРАФІК</h4>
      <div class="course-how-is-learning__program__req-item">
        <h3>Подача заявок</h3>
        <div class="course-how-is-learning__program__req-decs">
          <p>до 10 січня</p>
        </div>
      </div>

      <div class="course-how-is-learning__program__req-item">
        <h3>Старт занять</h3>
        <div class="course-how-is-learning__program__req-decs">
          <p>21 січня</p>
        </div>
      </div>

      <div class="course-how-is-learning__program__req-item">
        <h3>Випуск</h3>
        <div class="course-how-is-learning__program__req-decs">
          <p>28 березня</p>
        </div>
      </div>

      <div class="course-how-is-learning__program__req-item">
        <h3>Уроки</h3>
        <div class="course-how-is-learning__program__req-decs">
          <p>Вівторки і четверги</p>
        </div>
      </div>

      <div class="course-how-is-learning__program__req-item">
        <h3>Живі вебінари</h3>
        <div class="course-how-is-learning__program__req-decs">
          <p>Суботи 10:00—13:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
