<div class="course-networking scroll-section" id="networking">
  <h3 class="course-title">Нетворк випускників</h3>
  <div
    class="course-networking__cols course-networking__cols_4 course-networking__cols_divided course-networking__cols_centered course-networking__cols_sm-2 js-cols"
  >
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/macpaw_1.svg" />
          <img src="./img/companies/macpaw_2.svg" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/lun.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/wix.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/petcube.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/template-monster.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/ring.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/zeo.svg" />
        </div>
      </div>
    </div>
    <div class="course-networking__cols__col">
      <div class="course-networking__partner partner_logo-only">
        <div class="course-networking__partner__logo">
          <img src="./img/companies/grammarly.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
