<div class="card card_huge">
  {% for item in hugeCard %}
  <a class="card__link" href="{{ item.link }}" tabindex="1">
    <div class="card__image card__image_huge">
      <span class="card__favorite">{{ mixins.icon('bookmark-on')}}</span>
      <div class="card__duration">
        <span class="card__duration-text">{{ item.duration }}</span>
      </div>

      <div class="card__progress-bar {% if item.watched %} is-active {% endif %}">
        <div class="card__progress js-progress"></div>
      </div>

      <picture style="display: flex;">
        <source media="(min-width: 1024px)" srcset="{{ item.imageRetina }}"/>
        <img class="card__photo" src="{{ item.image }}" alt="Фото лектора"/>
      </picture>

      <div class="card__label {% if item.new %} is-active {% endif %}">
        <span class="card__label-text">Новое</span>
      </div>

      <div class="card__live">
        <span class="card__live-text">наживо</span>
      </div>
    </div>
  </a>

  <div class="card__inner">
    <a class="card__link" href="{{ item.link }}" tabindex="1">
      <p class="card__info">
        <span class="card__year">{{ item.year }}</span>
        <span class="card__category">{{ item.category }}</span>
      </p>

      <p class="card__text card__text_big">
        {% if item.popular %}
        {{mixins.icon('fire')}}
        {% endif %}

        {{ item.text }}
      </p>
    </a>

    <a class="card__speaker link" href="{{ item.speakerLink }}" tabindex="1">{{ item.speaker }}</a>
  </div>
  {% endfor %}
</div>


