<!-- begin info-block -->

<article class="info-block">
  <p><a href="#">Дмитрий Корнилов</a> — CEO и со-основатель <a href="#">FFFACE</a>, специалист по разработке продуктов с Дополненной Реальностью. Принимал участие в разработке проектов для Monobank, Silpo, 1+1 media, Київстар, Pepsi, Danone, Parimatch, группы «Казка», Владимира Дантеса и др.</p>

  <p>Вы: не знаете что такое Instagram-фильтры и зачем они нужны брендам, маркетологам и блоггерам. Также вы, после лекций от FFFACE: создал для себя и своих клиентов сет базовых фильтров с актуальным меметическим креативом и получил крутые метрики и хайп.</p>

  <p>На лекции Дима расскажет, как использовать соцсети, чтобы аудитория сама продвигала ваш бренд и даст вводные данные по Инстаграм- фильтрам для маркетинга. В ней подробно разобраны изменения в контент-маркетинге и основные тренды 2020 года, кейсы компании FFACE, методологии разработки креатива, и основные правила запуская активности с фильтрами.</p>

  <h6>Кому подойдёт?</h6>

  <p>Digital-маркетологам, SMM-специалистам, проджект менеджерам, а также креаторам, которые создают визуальный контент.</p>
</article>

<!-- end info-block -->
