<!-- begin intro-black-friday -->

<div class="intro-black-friday">
  <div
    style="
      background: linear-gradient(
        180deg,
        rgba(16, 16, 20, 0) 0%,
        #101014 90.41%
      );
      width: 100%;
      height: 100%;
    "
  >
    <div class="container">
      <div class="intro-black-friday__action">
        <div class="intro-black-friday__container">
          <h1>Текст который будет до ЧП</h1>
          <button
            class="
              intro-black-friday__button
              button button_wider
              js-open-popup-button
            "
            type="button"
            data-popup="login"
          >
            <span class="intro-black-friday__content"
              >Нагадайте про знижку</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end intro-black-friday -->
