<!-- begin intro-black-friday -->

<div class="intro-black-friday">
  <div class="intro-black-friday__gradient"> </div>
  <div class="container">

    <div class="video-container">
      <div class="bg-img"></div>
       <video muted loop autoplay poster="img/poster.png">
        <source src="/video/2.mp4" type='video/mp4;'>
        Тег video не поддерживается вашим браузером. 
       </video>

      <div class="intro-black-friday__deadline">тільки 26/11/21</div>
   
      <div class="intro-black-friday__action">
        <h1>
          <span class="intro-black-friday__top_text" >black friday sale <br /><span>в бібліотеці</span></span>
          <span class="intro-black-friday__bottom_text"
            >стискаємо <br />
            <span> ціну на 50%</span></span
          >
        </h1>

        <div class="intro-black-friday__container">
          <button
            class="
              intro-black-friday__button
              button button_wider
              js-open-popup-button
            "
            type="button"
            data-popup="login"
          >
            <span class="intro-black-friday__content">Нагадати про знижку</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- end intro-black-friday -->
