<!-- begin intro-black-friday-second -->

<div class="intro-black-friday-second">
  <div class="intro-black-friday-second__gradient"> </div>
  <div class="container">

    <div class="video-container">
      <div class="bg-img"></div>
       <video muted loop autoplay poster="img/poster-second.png">
        <source src="/video/1.mp4">
        Тег video не поддерживается вашим браузером. 
       </video>
   
      <div class="intro-black-friday-second__action">
        <h1>
          <span class="intro-black-friday-second__top_text" >Підписка<br /><span>на цілий рік –</span></span>
          <span class="intro-black-friday-second__bottom_text"
            >Зі знижкою 50% <br />
            <span>Тільки сьогодні</span></span
          >
        </h1>

        <div class="intro-black-friday-second__container">
          <button
            class="
              intro-black-friday-second__button
              button button_wider
              js-open-popup-button
            "
            type="button"
            data-popup="login"
          >
            <span class="intro-black-friday-second__content">Придбати собі</span>
          </button>

          <button
          class="
            intro-black-friday-second__button
            button_gift
            button button_wider
            js-open-popup-button
          "
          type="button"
          data-popup="login">
          <span class="intro-black-friday-second__content">Придбати на подарунок</span>
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- end intro-black-friday-second -->
