<!-- begin intro-conferences -->

<div class="intro-conferences">
  <div class="intro-conferences__action">
    <h1>Конференцій та відеолекцій багато — підписка одна</h1>
    <div class="intro-conferences__desc">
      Освітній контент в записі та <svg height="10" width="10" class="intro-conferences__blinking">
        <circle cx="5" cy="5" r="4" fill="#e0374e"></circle>
      </svg>   live-режимі
    </div>

    <div class="intro-conferences__container">
      <button
        class="
          intro-conferences__button intro-conferences__button_margin
          button button_wider
          js-open-popup-button
        "
        type="button"
        data-popup="subscribe"
      >
        <span class="intro-conferences__content"> Придбати підписку </span>
      </button>
      <span class="intro-conferences__price">за 950 ₴ на рік</span>
    </div>
  </div>

  <div class="intro-conferences__slider">
    <div class="intro-conferences__slide-track">
      <div class="intro-conferences__slide">
        <img src="./img/conferences/1.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/2.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/3.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/4.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/5.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/6.png" alt="" />
      </div>

      <div class="intro-conferences__slide">
        <img src="./img/conferences/7.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/8.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/9.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/10.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/1.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/2.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/3.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/4.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/5.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/6.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/7.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/8.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/9.png" alt="" />
      </div>
      <div class="intro-conferences__slide">
        <img src="./img/conferences/10.png" alt="" />
      </div>
    </div>
  </div>
</div>

<!-- end intro-conferences -->
