<!-- begin intro -->

<section class="intro">
  <div class="intro__container container">
    <div class="intro__info">
      <h3 class="intro__title title title_smallest">Видео-лекции о дизайне, разработке, маркетинге и управлении продуктами</h3>

      <p class="intro__text">Річний доступ до бібліотеки за акційною ціною можна придбати лише 27 листопада.</p>

      <div class="intro__action">
        <div class="intro__button button js-open-popup-button" data-popup="request">
          <a class="button__link" href="#" tabindex="1">Зареєструватися</a>
        </div>

        <div class="intro__section">
        <span class="intro__price">
          <span class="intro__currency intro__currency_symbol">950 &#8372;</span>
          за рік
        </span>
      </div>
      </div>
    <div class="intro__action"> 
      
      <button class="intro__gift-container js-open-popup-button" type="button"  data-popup="gift-request">
            <svg class="intro__gift-image"  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
              <path fill-rule="evenodd" d="M20 12V22H4V12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" d="M22 7H2V12H22V7Z"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" d="M12 22V7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" d="M12 7H7.5C6.83696 7 6.20107 6.73661 5.73223 6.26777C5.26339 5.79893 5 5.16304 5 4.5C5 3.83696 5.26339 3.20107 5.73223 2.73223C6.20107 2.26339 6.83696 2 7.5 2C11 2 12 7 12 7Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 7H16.5C17.163 7 17.7989 6.73661 18.2678 6.26777C18.7366 5.79893 19 5.16304 19 4.5C19 3.83696 18.7366 3.20107 18.2678 2.73223C17.7989 2.26339 17.163 2 16.5 2C13 2 12 7 12 7Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
        <span class="link link_gold-grey intro__gift-text">Подарувати бібліотеку</span></button>
    </div>
    </div>

    <div class="intro__image">
      <picture>
          <source media="(min-width: 1024px)" srcset="./img/banner-top@2x.png"/>
          <source media="(min-width: 767px)" srcset="./img/banner-top.png"/>
          <source media="(min-width: 370px)" srcset="./img/banner-top-mobile@2x.png"/>
          <source media="(min-width: 320px)" srcset="./img/banner-top-mobile.png"/>
          <img src="./img/banner-top@2x.png" alt="Примеры отображения лекторов на разных дисплеях"/>
      </picture>
    </div>
  </div>
</section>

<!-- end intro -->
