<!-- begin liked-popup -->
  <div class="popup js-popup" data-name="like">
    <div class="subscribe-popup popup__inner">
      <button class="popup__close js-popup-close">{{ mixins.icon('close-popup') }}</button>

      <div class="popup__logo logo logo_center">
        <img class="logo__image" src="./img/logo.svg" alt="Логотип Projector"/>
      </div>

      <p class="popup__text">Войдите, чтобы добавить в избранное</p>

      <button class="popup__button popup__button_blue js-socials" type="button">
        {{ mixins.icon('facebook') }}
        С помощью Facebook
      </button>

      <button class="popup__button popup__button_red js-socials" type="button">
        {{ mixins.icon('google') }}
        С помощью Google
      </button>
    </div>
  </div>

<!-- end liked-popup -->
