<!-- begin new-version-popup -->

<div class="new-version-popup js-popup" data-name="new-version">
  <div class="new-version-popup__inner">
    <button class="new-version-popup__close js-popup-close">
      {{ mixins.icon('close-popup') }}
    </button>

    <div class="new-version-popup__logo logo logo_center">
      <img class="logo__image" src="./img/logo.svg" alt="Логотип Projector"/>
    </div>


    <p class="new-version-popup__text">У нас новинка!</p>
    <p class="new-version-popup__emojii">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧</p>
    <p class="new-version-popup__desc">
      Відтепер у вашій підписці ще й конференції —
      долучайтеся онлайн або дивіться в записі
    </p>

    <div class="new-version-popup__button button button_smaller">
      <button class="button__link" type="button">
        Досліджувати бібліотеку
      </button>
    </div>
  </div>
</div>

<!-- end new-version-popup -->
