<section class="page-content">
  <h1 class="page-content__title title title_smaller title_smaller_mob">
    ПУБЛІЧНА ОФЕРТА PROJECTOR ЩОДО КОРИСТУВАННЯ ВІДЕОБІБЛІОТЕКОЮ
  </h1>
  <div class="page-content__description">
    <p><b>ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ PROJECTOR</b></p>
    <p><b>І. Загальні положення</b></p>
    <p><b></b><br /></p>
    <p>
      Конфіденційність Вашої інформації є одним із пріоритетів нашої діяльності,
      відтак ми докладаємо всіх можливих зусиль для забезпечення її захисту.
    </p>
    <p>
      Дана Політика конфіденційності (надалі – «Політика») вступає в силу з 09
      квітня 2021 року.
    </p>
    <p>
      Мета Політики – описати, яким чином ТОВ «ПРОДЖЕКТОР», його дочірні
      компанії, міжнародні філії, партнери, підрядники та уповноважені особи
      («Projector», «ми», «наш», «нами» тощо) збирає, зберігає, використовує та
      обмінюється інформацією про Вас через наші Інтернет-інтерфейси (наприклад,
      веб-сайти та мобільні додатки), що належать і контролюються нами,
      включаючи, але не обмежуючись даним сайтом https://prjctr.online/ (надалі
      спільно іменовані «Сайт»), та які права Ви маєте у відношенні до зібраної
      нами інформації.
    </p>
    <p>
      Будь-ласка, уважно прочитайте
      <a
        href="https://prjctr.online/page/terms-ukr.html"
        target="_blank"
        rel="nofollow"
        >Публічну оферту (<i>Умови використання</i>)</a
      >
      перед використанням нашого Сайту та послуг. Приймаючи умови Публічної
      оферти, Ви надаєте згоду на збирання, зберігання та розголошення Вашої
      інформації, як описано в Політиці, а також на надсилання Вам певних
      повідомлень або передачу нам певної інформації.
    </p>
    <p>
      У випадку, якщо Ви не погоджуєтесь з будь-яким положенням Політики, Ви
      зобов'язані припинити використання сервісів нашого Сайту.
    </p>
    <p>
      Projector залишає за собою право в односторонньому порядку доповнювати,
      змінювати та/або розширювати Політику, тому ми рекомендуємо періодично
      перевіряти наявність змін та/або оновлень до Політики на Сайті.
    </p>
    <p>
      Продовжуючи користуватися Сайтом після опублікування змін, Ви погоджуєтесь
      з новою редакцією Політики. Щоб дізнатись, коли ми востаннє оновлювали цю
      Політику, зверніться до дати, зазначеної після «Останні зміни» у верхній
      частині цієї Політики. Якщо Ви не згодні зі змінами, Вам слід негайно
      припинити використання Сайту.
    </p>
    <p>
      Якщо у Вас виникають будь-які запитання та/або претензії відносно
      Політики, просимо звернутись до служби підтримки користувачів Сайту
      <a href="mailto:hello@prjctr.com.ua" rel="nofollow">hello@prjctr.com.ua</a
      >.
    </p>
    <p>
      Якщо Ви заперечуєте щодо використання Ваших персональних даних для
      звернень до Вас у майбутньому з будь-якою метою, просимо звернутись до
      служби підтримки користувачів Сайту і ми врахуємо Ваші побажання.
    </p>
    <p>
      Якщо ви проживаєте або перебуваєте в Європейському економічному просторі
      («EEA»), Projector є оператором (володільцем персональних даних) усієї
      інформації, що ідентифікує особу (як визначено нижче), зібраної на Сайті,
      та певної інформації, що ідентифікує особу, зібраної від третіх сторін, як
      зазначено в Політиці.
    </p>
    <p>
      Політика застосовується до інформації, зібраної Projector через Сайт, або
      будь-яким іншим способом, як описано нижче. Положення Політики не
      поширюються на діяльність будь-яких сторонніх сервісів/служб та
      веб-сайтів, додатків та/або послуг, якими Projector не володіє та не
      підтримує (Послуги третіх осіб). Як детально описано нижче, Projector не
      несе відповідальності за політику конфіденційності будь-яких третіх осіб.
    </p>
    <p><b>ІІ. Яку інформацію ми збираємо</b></p>
    <p>
      Згідно з умовами Політики збору, зберіганню та використанню підлягають
      такі <b>види</b> <b>інформації</b>:
    </p>
    <p><i>1. Інформація, що стосується використання Вами Сайту. </i></p>
    <p>
      Коли Ви заходите на Сайт, ми можемо відстежувати, збирати та узагальнювати
      інформацію, вказуючи, серед іншого, які сторінки Сайту були Вами
      відвідані, порядок їх відвідування, коли вони були відвідані та на які
      гіперпосилання Ви заходили.
    </p>
    <p>
      Ми також збираємо інформацію за URL-адресами, з яких Ви зробили посилання
      на наш Сайт. Збір такої інформації може включати реєстрацію IP-адреси
      (постачальника послуг Інтернет користувача та географічне розташування
      точки його зв'язку), операційної системи та програмного забезпечення
      браузера, що використовуються кожним користувачем Сайту.
    </p>
    <p>
      Ми також збираємо інформацію про пристрій, яким Ви користуєтесь для
      доступу або використання Сайту, як-то: тип пристрою, який Ви
      використовуєте (наприклад, мобільний, ПК тощо); тип підключення до мережі
      (наприклад, Bluetooth, WiFi, 3G, 4G, LTE тощо); операційна система та
      версія (наприклад, iOS, Android або Windows); мовні налаштування у вашому
      мобільному пристрої; оператора мобільного зв'язку тощо.
    </p>
    <p>
      Ми також використовуємо (або може використовувати) файли cookie або схожі
      технології відстеження, коли ви відвідуєте наш Веб-сайт. Файли cookie
      зазвичай не містять жодної інформації, яка ідентифікує особу користувача.
      Проте, Ваша персональна інформація, яку ми маємо, може бути пов'язана з
      інформацією, що зберігається та отримана від файлів cookie.
    </p>
    <p>
      Щоб отримати додаткову інформацію про використання файлів cookie,
      зверніться до
      <i
        ><a
          href="https://prjctr.online/page/cookies-policy.html"
          target="_blank"
          rel="nofollow"
          >Політики використання файлів cookie</a
        ></i
      >.
    </p>
    <p>
      <i
        >2. Інформація, що ідентифікує особу, яка надана безпосередньо Вами або
        третіми особами.
      </i>
    </p>
    <p>
      Деякі обмежені функціональні можливості нашого Сайту можна
      використовувати, не розкриваючи жодної інформації, що ідентифікує особу.
      Для споживання пропонованих Сайтом послуг та можливостей, потрібна
      інформація, що ідентифікує особу.
    </p>
    <p>
      Для того, щоб отримати доступ до певних функцій, послуг, пропозицій та/або
      переваг на нашому Сайті (разом «Послуги»), Вам потрібно надати, або ми
      можемо запросити «Інформацію, що ідентифікує особу», яка може бути
      використана для Вашої ідентифікації як користувача (може також називатися
      «Персональними даними» або «Персональною інформацією»).
    </p>
    <p>
      Ми збираємо Персональну інформацію, яку Ви надаєте нам, коли реєструєтесь
      для облікового запису або для отримання певної Послуги на Сайті, оновлюєте
      або змінюєте інформацію для свого облікового запису, замовляєте Послуги,
      заповнюєте опитування, реєструєтесь для оновлення електронною поштою,
      берете участь у наших публічних форумах, надсилаєте нам електронні листи,
      повідомлення та/або берете участь у пропозиціях та/або інших сервісах на
      Сайті.
    </p>
    <p>
      Ми можемо використовувати Персональну інформацію, яку Ви надаєте, щоб
      відповісти на Ваші запитання, надати Вам конкретну Послугу, яку Ви обрали,
      надіслати Вам пропозиції по Послугах, які можуть Вас зацікавити, надіслати
      Вам оновлення по Послугах Projector та/або повідомлення електронною поштою
      про обслуговування або оновлення Сайту.
    </p>
    <p>
      Персональна інформація, зокрема, але не виключно, може збиратись з таких
      джерел:
    </p>
    <p>
      • Реєстрація на Сайті. Якщо Ви реєструєтеся на Сайті, Вам потрібно надати
      нам особисту інформацію (як-то, наприклад: ім'я користувача, зображення у
      профілі, телефонний номер, адреса електронної пошти тощо).
    </p>
    <p>
      • Оновлення. Ми можемо запропонувати Вам можливість отримувати оновлення
      або електронною поштою, або розміщуючи повідомлення на сторінках Сайту,
      доступних лише для зареєстрованих користувачів. Для того, щоб підписатися
      на ці Послуги, Вам може бути потрібно надати нам особисту інформацію, таку
      як Ваше ім'я та електронна адреса.
    </p>
    <p>
      • Участь у пропозиціях Сайту. Ми пропонуємо користувачам можливість брати
      участь у різних пропозиціях на Сайті або через нього. Якщо Ви бажаєте
      взяти участь у відповідній пропозиції, Вас попросять надати нам певну
      інформацію, необхідну для проведення такої пропозиції. Ця інформація може
      включати, серед іншого, Ваше ім'я та електронну адресу, завдання, які Ви
      подаєте викладачам, відгуки студентів тощо. Ми також збираємо дані курсу,
      такі як відповіді студентів на тести, іспити та опитування. Ви не повинні
      надавати будь-яку особисту інформацію або іншу інформацію особистого чи
      конфіденційного характеру, незалежно від того, чи стосується вона Вас чи
      іншої особи, на завданнях, іспитах чи опитуваннях, за винятком інформації,
      необхідної для участі або подання таких завдань, іспитів чи опитувань.
    </p>
    <p>
      • Перевірка особи. Ми можемо запропонувати Вам можливість підтвердити свою
      особу для деяких сервісів Сайту. Для цього Вам може знадобитися надати нам
      або нашому сторонньому постачальнику особисту інформацію, таку як Ваше
      ім'я, телефон, електронна адреса тощо.
    </p>
    <p>
      • Зв'язок з нами. Ми можемо отримати інформацію, що ідентифікує особу,
      коли Ви надсилаєте нам повідомлення електронною поштою або іншим чином
      зв'язуєтесь з нами, в тому числі коли Ви будь-яким чином комунікуєте з
      будь-яким підрозділом Projector (наприклад, службою технічної підтримки).
    </p>
    <p>
      • Сторонні сайти. Ми можемо отримувати інформацію, що ідентифікує особу,
      коли Ви реєструєтесь або входите (логінитесь) на веб-сайті третьої
      сторони, наприклад, Facebook, із нашого Сайту. Це може включати текст та /
      або зображення Вашої Персональної інформації, доступної на веб-сайті
      третьої сторони.
    </p>
    <p>
      • Опитування. Ми можемо отримати Персональну інформацію, коли Ви надаєте
      інформацію у відповідь на опитування, проведене нами або постачальником
      контенту для Послуг Сайту.
    </p>
    <p>
      • Партнерські сайти. Партнерські сайти, що надають інструменти та послуги,
      які пропонуються для користувачів нашого Сайту, можуть збирати Ваші
      Персональні дані, щодо використання Вами цього партнерського веб-сайту.
      Партнерські сайти можуть обмінюватися цими даними з Projector з метою
      вдосконалення Послуг Projector та послуг веб-сайту партнерів. Ці дані
      включають, зокрема, але не виключно, таку інформацію, як кількість часу,
      проведеного на веб-сайті партнера та переглянуті сторінки.
    </p>
    <p>
      • Обробка даних кредитних карток. Projector надає Вам можливість
      оплачувати Послуги за допомогою кредитної картки через стороннього
      постачальника послуг з обробки платежів. Зверніть увагу, що постачальник
      послуг з обробки платежів, а не Projector, збирає та обробляє інформацію
      про Вашу кредитну картку.
    </p>
    <p>
      Ви несете повну відповідальність за забезпечення достовірності всієї
      Персональної інформації, яку Ви надаєте Projector. Неточна інформація може
      вплинути на Вашу здатність користуватися Сайтом і нашу здатність
      зв'язуватися з Вами. Ви зобов'язані оновлювати Вашу Персональну інформацію
      у випадку її зміни; зокрема, своєчасно вносити зміни до електронної
      адреси.
    </p>
    <p>
      Перед тим, як розкрити для нас персональну інформацію третьої особи, Ви
      повинні отримати згоду цієї особи як на розкриття, так і на обробку цієї
      інформації у відповідності до умов Політики.
    </p>
    <p><b>ІІІ. За яких умов ми використовуємо Персональну інформацію</b></p>
    <p>
      Персональна інформація, яку Ви передали нам через Сайт, буде
      використовуватися задля цілей, зазначених в Політиці або на відповідних
      сторінках Сайту.
    </p>
    <p>
      Ми можемо використовувати Вашу персональну інформацію за наступних умов:
    </p>
    <p>а) для виконання наших зобов'язань перед Вами, зокрема, для:</p>
    <ul>
      <li>
        дотримання Умов використання Послуг, які Ви приймаєте, переглядаючи
        відповідні сторінки Сайту;
      </li>
      <li>
        надання Вам Послуг, придбаних через Сайт, та дотримання умов надання
        таких Послуг;
      </li>
      <li>
        надання Вам можливості користуватися сервісами, доступними на Сайті;
      </li>
      <li>
        надсилання Вам повідомлень, рахунків та нагадувань про оплату, та
        отримання платежів від Вас;
      </li>
      <li>надсилання Вам немаркетингових комерційних повідомлень;</li>
      <li>
        надсилання Вам електронною поштою повідомлень, які Ви окремо запросили;
      </li>
      <li>
        надсилання Вам електронної розсилки, якщо Ви її замовили (Ви в будь-який
        момент можете відмовитись від отримання відповідних розсилок від нас);
      </li>
      <li>
        надсилання Вам маркетингових повідомлень стосовно нашої ділової
        активності або ділової активності старанно відібраних сторонніх
        компаній, яка, на нашу думку, може Вас зацікавити, шляхом публікацій
        або, якщо ви конкретно надали на це згоду – шляхом надсилання
        повідомлень електронною поштою або за рахунок використання подібних
        технологій (Ви в будь-який момент можете відмовитись від отримання
        маркетингових повідомлень);
      </li>
    </ul>
    <p>
      б) для дотримання наших юридичних зобов'язань перед третіми особами; або
    </p>
    <p>
      в) для забезпечення наших законних інтересів або законних інтересів інших
      осіб. При цьому, нашими законними інтересами є:
    </p>
    <ul>
      <li>керувати, розвивати та розширювати сферу діяльності Projector;</li>
      <li>управляти Сайтом та надавати Послуги;</li>
      <li>вибирати відповідних кваліфікованих постачальників;</li>
      <li>будувати стосунки з партнерами та науковими установами;</li>
      <li>проводити дослідження та статистичний аналіз;</li>
      <li>проводити маркетингові активності;</li>
      <li>забезпечувати внутрішні адміністративні та аудиторські цілі;</li>
      <li>забезпечувати безпеку нашого Сайту та попереджувати шахрайство;</li>
      <li>
        перевіряти відповідність будь-якої активності, здійснюваної на Сайті,
        умовам та правилам, які регламентують використання нашого Сайту
        (включаючи моніторинг приватних повідомлень, надісланих через сервіс
        приватних повідомлень нашого Сайту).
      </li>
    </ul>
    <p>г) в інших цілях.</p>
    <p>
      Те, яка правова підстава застосовується до конкретної діяльності з обробки
      Вашої Персональної інформації, буде залежати від типу оброблюваної
      Персональної інформації та контексту, в якому вона оброблюється.
    </p>
    <p>
      Якщо ми покладаємось на наші законні інтереси (або законні інтереси іншої
      особи) для використання Вашої Персональної інформації, ми будемо проводити
      аналіз співвідношення пріоритету інтересів, щоб переконатись, що наші
      законні інтереси (або законні інтереси іншої особи) не переважають Ваші
      інтереси чи основні права та свободи, які передбачають захист Персональної
      інформації.
    </p>
    <p>
      Ми можемо обробляти Вашу Персональну інформацію в деяких випадках для
      маркетингових цілей на основі Вашої згоди (яку ви можете відкликати в
      будь-який час, як описано нижче).
    </p>
    <p>
      Якщо ми покладаємось на Вашу згоду на використання Вашої Персональної
      інформації певним чином, але пізніше Ви зміните своє рішення, Ви можете в
      будь-який час відкликати свою згоду, відвідавши сторінку свого профілю та
      клацнувши поле для видалення згоди чи видалення Вашого облікового запису,
      і ми припинимо використання Вашої Персональної інформації. При цьому,
      будь-ласка майте на увазі, що відкликання Вами згоди на використання Вашої
      Персональної інформації може вплинути на нашу можливість надавати Вам
      Послуги.
    </p>
    <p>
      <br />
      Якщо Ви надали персональну інформацію для публікації на нашому Сайті, ми
      опублікуємо її. В іншому випадку, ми використовуватимемо цю інформацію у
      відповідності до ліцензії, яку Ви нам надали.
    </p>
    <p><b>IV. Якими способами ми використовуємо Персональну інформацію</b></p>
    <p><b></b><br /></p>
    <p>
      <i>1. Інформація, що стосується використання Вами нашого Сайту. </i>
    </p>
    <p>
      Ми використовуємо інформацію, що стосується Вашого використання Сайту, для
      створення більш якісних, корисних Послуг, проводячи статистичний аналіз
      колективних характеристик та поведінки наших користувачів, а також
      вимірюючи демографічні показники та інтереси щодо конкретних сторінок та
      Послуг Сайту. Ми також можемо використовувати цю інформацію для
      забезпечення безпеки користувачів та Сайту.
    </p>
    <p>
      <i
        >2. Інформація, що ідентифікує особу, надана безпосередньо Вами або
        третіми сторонами.
      </i>
    </p>
    <p>
      За винятком випадків, зазначених у Політиці або окремо узгоджених Вами,
      Projector не буде розголошувати жодну Вашу Персональну інформацію.
    </p>
    <p>
      Окрім інших видів використання, викладених у Політиці, ми можемо
      розголошувати та використовувати інформацію, що ідентифікує особу, для
      наступного:
    </p>
    <p>
      • щоб надати Вам доступ до Сайту та використовувати його сервіси, а також
      для надання будь-якої інформації, продуктів чи послуг, які Ви замовляєте у
      нас;
    </p>
    <p>
      • щоб надати Вам технічну підтримку, де це потрібно, та забезпечити
      безпеку користувачів, Послуг та Сайту;
    </p>
    <p>• щоб надсилати Вам повідомлення у зв'язку з пропозиціями Сайту;</p>
    <p>
      Ми також можемо ділитися Вашою Персональною інформацією та Вашими
      результатами з викладачем або викладачами, які вели відповідний курс, з
      асистентами викладання або іншими особами, призначеними викладачем для
      сприяння у створенні, зміні або проведенні курсу;
    </p>
    <p>
      Крім того, ми можемо архівувати цю інформацію та / або використовувати її
      для подальшого спілкування з Вами у випадках, зазначених у Політиці або в
      <i>Умовах використання Послуг</i>;
    </p>
    <p>
      • для підтвердження Вашої особи та для підтвердження достовірності поданих
      Вами на Сайті матеріалів;
    </p>
    <p>
      • для зв'язку з Вами у відповідь на Ваше повідомлення та / або як описано
      в Політиці;
    </p>
    <p>
      Якщо ми надсилаємо Вам електронні листи, ми можемо відстежувати спосіб
      взаємодії з цими електронними листами (наприклад, коли Ви відкриваєте
      електронне повідомлення або натискаєте посилання всередині листа). Ми
      використовуємо цю інформацію з метою оптимізації та кращого адаптування
      наших комунікацій до Вас;
    </p>
    <p>• для пропонування Вам послуг наших ділових партнерів;</p>
    <p>
      Ми можемо ділитися Вашою Персональною інформацією з постачальниками послуг
      та іншими діловими партнерами Projector, щоб вказані особи могли
      обмінюватися інформацією про свої продукти та послуги, яка може Вас
      зацікавити, якщо вони мають на це законне право;
    </p>
    <p>
      Projector залишає за собою право розкрити Вашу Персональну інформацію для
      будь-якого з партнерів, страхувальників, професійних радників, агентів,
      постачальників або субпідрядників, в обсягу та цілях, визначених в
      Політиці;
    </p>
    <p>• для досліджень, пов'язаних з онлайн-освітою;</p>
    <p>
      • для можливості роботи наших підрядників з експлуатації та
      обслуговування;
    </p>
    <p>
      Ми використовуємо різних постачальників послуг та підрядників (разом –
      «Підрядники»), щоб допомогти нам у наданні Вам наших Послуг. Наші
      Підрядники можуть мати обмежений доступ до Вашої Персональної інформації
      під час надання нам своїх продуктів або послуг, щоб ми, в свою чергу,
      могли надавати Вам свої Послуги. До складу цих Підрядників можуть входити
      постачальники, які надають нам технології, послуги та / або контент,
      пов'язаний з експлуатацією та технічним обслуговуванням Сайту. Доступ до
      Вашої Персональної інформації цими Підрядниками обмежений інформацією,
      обґрунтовано необхідною для того, щоб Підрядник виконував для нас свою
      обмежену функцію;
    </p>
    <p>
      • на запити уповноважених органів державної влади, правоохоронних органів,
      у зв'язку з судовими процесами, з метою встановити або реалізувати наші
      законні права або захистити наше майно; для захисту від юридичних вимог;
      або як це передбачено законом;
    </p>
    <p>
      • правонаступникам у зв'язку з продажем або реорганізацією (злиттям,
      приєднанням, поділом, перетворенням) всього власного капіталу, бізнесу чи
      активів Projector;
    </p>
    <p>
      • працівникам, керівникам, партнерам Projector Projector, в обсягу та
      цілях, визначених в Політиці.
    </p>
    <p>
      Projector не буде розкривати Вашу Персональну інформацію третім особам, за
      винятком випадків, зазначених в Політиці.
    </p>
    <p><b>Міжнародні передачі персональної інформації</b></p>
    <p>
      Сайт Projector в основному експлуатується та управляється на серверах,
      розташованих в межах України. Разом з тим, інформація, яку Projector
      збирає, може зберігатися, оброблятися та передаватися між будь-якими
      країнами світу, в яких Projector здійснює свою діяльність, з метою
      якісного надання Вам наших Послуг, а також надання Projector можливості
      використовувати цю інформацію у відповідності з Політикою.
    </p>
    <p>
      Персональна інформація, яку Ви розміщуєте на Сайті, через Інтернет, може
      бути доступна в усьому світі, в тому числі в країнах, які можуть не
      забезпечувати режим захисту Вашої Персональної інформації. Ми прагнемо
      захистити конфіденційність Персональної інформації при її передачі. Якщо
      Ви проживаєте або перебуваєте в межах Європейської економічної зони (ЄЕЗ),
      і такі передачі відбуваються, ми вживаємо відповідних заходів, щоб
      забезпечити такий самий рівень захисту для обробки, як ви мали б у межах
      ЄЕЗ, наскільки це можливо згідно з чинним законодавством.
    </p>
    <p>
      Ми не можемо перешкодити використанню Вашої Персональної інформації,
      опублікованої Вами у всесвітній мережі Інтернет через Сайт, або
      неправомірному її використанню сторонніми особами.
    </p>
    <p><b>V. Зберігання Персональної інформації</b></p>
    <p>
      Персональна інформація, яку ми обробляємо з певною метою або в певних
      цілях не повинна зберігатися довше, ніж потрібно для досягнення цієї мети
      або цих цілей.
    </p>
    <p>
      Ваша Персональна інформація буде видалена одразу після направлення Вами
      відповідного повідомлення з запитом на видалення облікового запису.
    </p>
    <p><b>VІ. Захист Персональної інформації</b></p>
    <p>
      Ми будемо вживати достатні технічні та організаційні заходи для
      попередження втрати, протиправного використання чи підробки Вашої
      Персональної інформації, і не будемо передавати її третім особам, за
      винятком випадків, передбачених Політикою.
    </p>
    <p>
      Оскільки Інтернет не є 100% захищеним середовищем, Projector не може
      гарантувати захист даних, надісланих через мережу Інтернет, і існує певний
      ризик, що несанкціонована третя сторона може знайти спосіб обійти наші
      системи безпеки або що передача Вашої Персональної інформації через
      Інтернет буде перехоплена.
    </p>
    <p>
      Ви несете відповідальність за захист Вашої Персональної інформації для
      входу в обліковий запис на Сайті. Зверніть увагу, що повідомлення
      електронної пошти, як правило, не шифруються, і їх не слід вважати
      захищеними.
    </p>
    <p>
      Всю надану Вами Персональну інформацію Projector буде зберігати на наших
      захищених (як паролем, так і фаєрволами) серверах. Всі електронні
      фінансові транзакції, здійснені за допомогою нашого Сайту, будуть захищені
      технологією шифрування даних.
    </p>
    <p>
      <br />
      <b>VІІ. Ваші права щодо Персональної інформації</b>
    </p>
    <p>
      Ви можете запитати у Projector будь-яку Персональну інформацію про Вас,
      яку ми маємо, та отримати її копію безкоштовно (крім випадків, коли
      законодавство дозволяє стягнення плати). Projector залишає за собою право
      відмовити в наданні інформації за Вашим запитом, в межах чинного
      законодавства.
    </p>
    <p>
      Ви можете надати нам вказівку не обробляти Вашу Персональну інформацію в
      маркетингових цілях, задля чого проставити відповідну відмітку у
      запропонованій формі згоди. За відсутності Вашої спеціальної відмови,
      вважається, що Ви погоджуєтесь з тим, що Ваша Персональна інформація може
      бути використана в маркетингових цілях.
    </p>
    <p>
      Ви можете отримати доступ до своєї Персональної інформації та підтвердити,
      що вона залишається правильною та актуальною, вибрати, чи хочете Ви
      отримувати від нас матеріали. Зазначені права можуть бути обмежені з метою
      захисту прав та свобод інших осіб.
    </p>
    <p>
      Якщо Ви хочете отримати додаткову інформацію стосовно своїх прав або
      хочете скористатися будь-яким із них, ви також можете зв'язатися з нами
      через
      <a href="mailto:hello@prjctr.com.ua" rel="nofollow">hello@prjctr.com.ua</a
      >.
    </p>
    <p>
      Якщо Ви проживаєте або перебуваєте в ЄЕЗ, Ви маєте право вимагати від нас:
    </p>
    <p>
      • забезпечити доступ до будь-якої особистої інформації, яку ми зберігаємо
      про Вас;
    </p>
    <p>
      • запобігати обробці Вашої Персональної інформації для цілей прямого
      маркетингу;
    </p>
    <p>
      • оновлювати будь-яку Персональну інформацію, яка застаріла або
      неправильна;
    </p>
    <p>
      • видалити будь-яку Персональну інформацію, яку ми зберігаємо про Вас
      («право бути забутим»);
    </p>
    <p>• обмежити спосіб обробки Вашої Персональної інформації;</p>
    <p>
      • надавати інформацію, що ідентифікує особу, сторонньому постачальнику
      послуг; або
    </p>
    <p>
      • надати Вам копію будь-якої Персональної інформації, яку ми зберігаємо
      про Вас.
    </p>
    <p>
      Ми намагаємось відповісти на будь-які електронні листи негайно, де це
      можливо, і надаємо свою відповідь протягом періоду, визначеного чинним
      законодавством. Однак, просимо врахувати, що в наших базах даних, журналах
      доступу та інших записах буде залишкова інформація, яка може містити або
      не містити Вашу Персональну інформацію.
    </p>
    <p>
      Коли Ви надсилаєте нам електронний лист із запитом, ми можемо попросити
      Вас надати нам інформацію, необхідну для підтвердження Вашої особи.
    </p>
    <p>
      <b>VІІІ. </b><b>Заборона збирання інформації від дітей до 13 років</b>
    </p>
    <p>
      Projector твердо вірить у захист приватного життя дітей. Будь-яке
      використання або доступ до Сайту осіб віком до 13 років заборонено, а
      деякі сторінки Сайту та Послуги можуть мати додаткові вимоги та / або
      обмеження. Відповідно до цього переконання, Projector не збирає та не
      зберігає Персональну інформацію, що ідентифікує особу, на нашому Сайті від
      осіб, які не досягли 13-річного віку.
    </p>
    <p>
      Якщо Ви не досягли 13-річного віку, будь ласка, не використовуйте та не
      відвідуйте цей Сайт у будь-який час або будь-яким способом.
    </p>
    <p>
      Projector, дізнавшись про існування Персональної інформації про осіб віком
      до 13 років, застосовуватиме належні заходи для видалення такої
      інформації, що була зібрана на Сайті без підтвердженої згоди батьків,
      дізнавшись про існування такої Персональної інформації.
    </p>
    <p><b></b><br /></p>
    <p><b>ІХ. </b><b>Запитання, пропозиції та скарги</b></p>
    <p>
      Якщо у Вас є запитання, пропозиції, невирішені проблеми або скарги,
      пов'язані з конфіденційністю, ви можете зв'язатися з нами через
      hello@prjctr.com.ua.
    </p>
    <p>
      Щоб зв'язатися з ТОВ «Проджектор», використовуйте наступну контактну
      інформацію:
    </p>
    <p>01001, м. Київ, вул. Ольгинська, буд. 2/1,</p>
    <p>Тел. : 067 418-95-78</p>
    <p>
      <a href="mailto:hello@prjctr.com.ua" rel="nofollow"
        >hello@prjctr.com.ua</a
      >
    </p>
  </div>
</section>
