<div
  class="topbar"
>
  <div style="display: flex; justify-content: space-between; ">
    <h1 class="title js-main-title">Бібліотека</h1>

    <div
      class="button button_smaller"
      style="min-width: auto; min-height: auto; width: 49px; height: 49px; display: none;"
    >
      <button class="button__link" type="button" style="padding: 0">
        <img src="./icons/gifft.svg" alt="" />
      </button>
    </div> 
  </div>

  <div style="display: none; justify-content: space-between; ">
    {% include "partials/_search.html" %}
    <a
      class="reserve-now__button button button_dark button_height"
      href="#"
      target="_blank"
      >Фільтр</a
    >
  </div>
</div>
