<!-- begin video-content -->

<section class="video-content">
  <div class="video-content__data">
    <a class="video-content__link link" href="#">Маркетинг</a>
    <span>2 сентября 2019</span>
  </div>

  <h2 class="video-content__title title title_smaller title_smaller_mob">Проектирование мобильных приложений</h2>

  <p class="video-content__data video-content__data_margin"><a class="link link_hover" href="#">Дмитрий Корнилов</a> — CEO и со-основатель <a class="link" href="#">FFFACE</a></p>

  {% if userIsSigned %}
  <div class="video-content__video-block">
    <div class="video-content__cover js-video-cover">
      <picture>
        <source media="(min-width: 1024px)" srcset="./img/image@2x.jpg" />
        <source media="(min-width: 500px)" srcset="./img/image.jpg" />
        <source media="(min-width: 320px)" srcset="./img/image-mobile.jpg" />
        <img src="./img/image@2x.jpg" alt="Фото лектора" />
      </picture>

      <button class="video-content__play js-video-play-button" type="button">
        {{ mixins.icon('arrow-right') }}
      </button>
    </div>

    <div class="video-content__video js-video">
      <iframe class="video-content__iframe" src="https://player.vimeo.com/video/254988878" frameborder="0" allow="autoplay; fullscreen" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>

  {% else %}

  <div class="video-content__video-block">
    <div class="video-content__cover video-content__cover_shadow">
      <picture>
        <source media="(min-width: 1024px)" srcset="./img/image@2x.jpg" />
        <source media="(min-width: 500px)" srcset="./img/image.jpg" />
        <source media="(min-width: 320px)" srcset="./img/image-mobile.jpg" />
        <img src="./img/image@2x.jpg" alt="Фото лектора" />
      </picture>

      <div class="video-content__action">
        <div class="video-content__container"> 
          <button class="video-content__button video-content__button_margin button button_wider js-open-popup-button" type="button" data-popup="subscribe">
            <span class="button__content">
              {{ mixins.icon('lock') }}
              Підписатися <span class="button__text">на бібліотеку</span> та дивитись
            </span>
          </button>
          <span>за 950 ₴ на рік</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="video-content__inner">
    <ul class="video-content__socials socials">
      <li class="socials__share" aria-label="Поделиться видео">
        {{ mixins.icon('share') }}
      </li>
      {% for item in data.socials %}
      <li class="socials__item">
        <button class="socials__button" type="button" aria-label="{{ item.info }}">
          {{ mixins.icon(item.icon) }}
        </button>
      </li>
      {% endfor %}
    </ul>

    <div class="video-content__main">
      <div class="video-content__tags tags">
        <ul class="tags__list">
          {% for item in data.tags %}
          <li class="tags__item">
            <a class="tags__link" href="{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="video-content__info-block">
        {% include "partials/_info-block.html" %}
      </div>

      <a class="video-content__button button button_dark button_height" href="#" target="_blank">Открыть презентацию из видео</a>
    </div>
  </div>
</section>

<!-- end video-content -->
