.button
	$this: &

	position: relative
	display: flex
	justify-content: center
	align-items: center
	min-width: 233px
	min-height: 60px
	padding: 2px
	+MontSemiBold
	font-size: 16px
	color: $white
	border-radius: 100px
	background: #3548FE
	
	&::after
		position: absolute
		content: ""
		top: 0
		left: 0
		width: 100%
		height: 100%
		border-radius: 100px
		background: white
		transition: opacity $transition
		z-index: 2
		opacity: 0

	+hover
			&::after
				opacity: 1

	&_smaller
		min-width: 109px
		min-height: 48px
		font-size: 14px

		#{$this}__link
			padding: 13px 19px
			font-size: 14px
			+MontSemiBold

	&_bold
		#{$this}__link
			+MontBold

	&_dark
		min-width: 81px
		min-height: 48px
		padding: 14px 16px
		font-size: 14px
		background: $dark-gray
		transition: background $transition

		&::after
			display: none

		+hover
			background: $dirty-gray

	&_wider
		padding: 0 20px

	&_height
		min-height: 48px
		line-height: 1em

		+safari
			height: 48px

	&__link
		z-index: 3
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%
		padding: 19px 30px
		color: $white
		text-align: center
		border-radius: 100px
		background: linear-gradient(180deg, #1C1B23 0%, #15141A 97.4%)

	&__text
		margin: 0 3px

		+sm
			display: none

	&__content
		z-index: 3
		display: flex
		align-items: center

	.icon-lock
		width: 22px
		height: 20px
		margin-right: 5px
		fill: $white

	.icon-heart-outline
		width: 20px
		height: 16px
		margin-right: 8px
		fill: none
		stroke: $white

		+sm
			width: 22px
			height: 18px

		+iphone
			margin-bottom: 2px

	.icon-heart
		margin-right: 8px
		width: 20px
		height: 16px
		fill: $white

		+sm
			width: 22px
			height: 18px

		+iphone
			margin-bottom: 2px
